html, body, header, nav, h1, a,
  ul, li, strong, main, button, i,
  section, img, div, h2, p, form,
  fieldset, label, textarea,
  span, article, footer, time, small {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    color: inherit;
    text-align: inherit;
    text-decoration: inherit;
    vertical-align: inherit;
    box-sizing: inherit;
    background: transparent;
  }

  path {
    stroke: gray;
    stroke-width: 0.25px;
    fill: lightcyan;
  }
  div.tooltip-donut {
    position: absolute;
    text-align: center;
    padding: .5rem;
    background: #FFFFFF;
    color: #313639;
    border: 1px solid #313639;
    border-radius: 8px;
    pointer-events: none;
    font-size: 1.3rem;
  }
  body {
    background-color: darkslategrey;
  }

  ul, li {
    list-style: none;
  }
  
  #title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    text-align: center;
  }
  
  img {
    display: block;
    width: auto;
    height: auto;
  }
/*   
  button {
    -webkit-appearance: none;
    -moz-appearance: none;
  } */
  
  .buttons > button {
    margin: 10px;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
    /* background-color: #4CAF50; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    height: 33px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  #chart {
    background-color: rgba(30, 27, 47, 0.453);
    width: 100vw;
  }
  
  /* body {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
  } */
  
  .head{
    display: flex;
    justify-content: space-between;
    background-color: #182e39;
    height: auto;
    color: white;
    padding: 2rem;
    /* grid-column: 1 / 4; */
    height: auto;
    align-items: center;
    flex-direction: row;
  }

  @media only screen and (max-width: 600px) { 
    .head{
      flex-direction: column;
    }
  }

  #chart {
    /* grid-column: 1 / 2; */
    float:left
  }

  #info,#date {
    /* grid-column: 2 / 4; */
    /* width: 300px; */
    display: flex;
    height: auto;
    flex-direction: column;
    color: white;
  }

  #info > *{
    margin-bottom: 30px;
  }

  #date {
    text-align: center;
    font-size: 25px;
  }

  .buttons {
    display: flex;
    /* align-items: center; */
    flex-direction: row;
    justify-content: center;
  }

  #sim-info-header{
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  /* #main-content {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  } */

  #main-content{
    display: flex;
    flex-direction: column;
  }

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    /* background-color: #4CAF50; */
    background-color: transparent;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover,button:hover {
    background-color: #45a049;
  }
  
  /* div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  } */
  .links {
    display: flex;
    padding-right: 30px;
    padding-top: 10px;
  }

  .links > li {
    padding: 0 7px;
  }

  /* .fa {
    width: 100px;
    height: 100px;
  } */

  .fa.fa-linkedin-square::before {
    width: 100px;
    height: 100px;
  }

  #loading_bar {
    height: calc(100vh - 122px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: space-between; */
    align-items: center;
  }

  .warning {
      color: white;
      font-size: medium;
      /* margin-bottom: 5%; */
      margin-top: 15%;
  }

  #map{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .r-numbers,.lockdown-numbers{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 45%;
    align-self: center;
  }

  @media only screen and (max-width: 600px) { 
    .r-numbers,.lockdown-numbers{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .r-numbers > *,.lockdown-numbers > *{
      width: 137%;
      align-self: center;
    }
  }

  #lockdowns,#location{
    width: 45%;
  }
  
  @media only screen and (max-width: 300px) { 
    #lockdowns,#location{
      width: 60%;
    }
  }
  

  .location-container,.lockdowns-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #add{
    width: 30%;
    align-self: center;
  }

  #lockdown-states{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    align-self: center;
    justify-content: center;
  }

  #state-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .lockdown,.location,.lockdown-suggestion{
    align-self: center;
  }

  #sim-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .directions{
    width: 50%;
    font-size: 14px;
  }

  @media only screen and (max-width: 600px) { 
    .directions{
      width: 90vw;
      margin-top: 5vw;
    }
    .introduction{
      margin-right: 5vw;
    }
  }
  path.state{
    /* transform: translate(9vw,10vh); */
    transform: translate(20vw,12vw);
  }
  @media only screen and (max-width: 1000px) {
    path.state{
      /* transform: translate(-10vw,-10vh); */
      /* transform: translate(20vw,10vh); */
      transform: translate(20vw,10vw);
    }
  }

  @media only screen and (max-width: 950px) { 
    path.state{
      /* transform: translate(-10vw,-5vh); */
      transform: translate(-10vw,-5vw);
    }
  }
  
  @media only screen and (max-width: 900px) { 
    path.state{
      /* transform: translate(-30vw,-30vh); */
      /* transform: translate(-30vw,-20vh); */
      /* transform: translate(-10vw,-10vh); */
      transform: translate(-10vw,-5vw);
    }
  }

  @media only screen and (max-width: 850px) { 
    path.state{
      /* transform: translate(-10vw,-4vh); */
      transform: translate(-10vw,-4vw);
    }
  }

  @media only screen and (max-width: 700px) { 
    path.state{
      /* transform: translate(-15vw,-15vh); */
      transform: translate(-15vw,-15vw);
    }
  }

  @media only screen and (max-width: 600px) { 
    path.state{
      transform: translate(-90vw,-44vw);
      
    }
  }

  @media only screen and (max-width: 550px) { 
    path.state{
      transform: translate(-40vw,-20vw);
    }
  }

  @media only screen and (max-width: 450px) { 
    path.state{
      transform: translate(-70vw,-35vw);
    }
  }

  @media only screen and (max-width: 300px) { 
    path.state{
      transform: translate(-130vw,-68vw);
    }
  }

  #legend{
    margin-left: 2vw;
    /* width: calc(100% - 2vw); */
    width: min(400px,calc(100% - 2vw));
  }

  .arrows-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    color: white;
  }

  .up-down-arrows-container{
    display: flex;
    flex-direction: column;
  }

  .fa-arrow-up{
    margin-bottom: 4vw;
  }

  .fas:hover{
    color: #4CAF50;
    cursor: pointer;
  }

  .bottom-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #reset-map-position{
    font-size: 3vw;
    margin-left: 5vw;
    border: 1px solid white;
    border-radius: 1vw;
    padding: 1vw;
  }